/* app css stylesheet */
header{
      width: 100%;
	  background: none repeat scroll 0 0 #4188a2;
	  float: none;
	  height: 70px;
	  //margin-top: 10px;
	  font-family:Verdana,sans-serif;
	  box-shadow: 5px 5px 5px grey;
	  border-radius:4px;
}
footer{
      width: 100%;
	  background: none repeat scroll 0 0 #4188a2;
	  float: none;
	  height: 30px;
	  margin-top: 10px;
	  font-family:Verdana,sans-serif;
	  box-shadow: 5px 5px 10px grey;
	  border-radius:4px;
}
footer > p{
	margin-left:45%;
}
nav{
	  width: 100%;
	  background: none repeat scroll 0 0 #4188a2;
	  float: none;
	  height: 30px;
	  margin-top: 10px;
	  margin-bottom: 10px;
	  font-family:Verdana,sans-serif;
      box-shadow: 2px 2px 5px grey;
      color: white;
	  border-radius:4px;
   }
nav li{
	list-style-type:none;
	display:inline;
	padding:20px;
}
nav   a {
	color:white;
	cursor:pointer;
}
body {
    font-family:Verdana,sans-serif;font-size:1em;
}
section{
    margin:5px;margin-bottom:15px;padding:8px;
    background-color:#ddd;
}
article{
    margin: 1% 1% 1% 23%;padding:8px;
    background-color:white;
	width: 60%;
	height: 55%;
	box-shadow: 5px 5px 10px grey;
}
h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
h3 {
    color: black;
    text-shadow: 1px 0px 1px #000000;
}
.leftAlign{
  float: left;
  color: white;
}
.rightAlign{
  float: right;
  color: white;
}
.centerAlign{
  margin-left:27%;
}
.shoutout {
    float: right;
    height: 65px;
    margin: 3px 3px 5px 5px;
    width: 65px;
	border-radius:4px;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.table{
	max-width : 60%;
	margin-left: 50px;
}
tbody {
	 height: 100px;
	 overflow: auto;
}
*{
margin:5px;
}
.container{
	text-align:center;
	margin:5px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	//border: 2px solid red;
	//background-color: #3CBC8D;
    //color: white;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: green;
}
input[type]:focus {
    width: 120%;
	border: 2px solid green !important;
	border-radius:4px !important;
}
.form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.search{
    width: 50% !important;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px !important;
	-webkit-transition: width 0.4s ease-in-out !important;
    transition: width 0.4s ease-in-out !important;

}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
